*,
*:before,
*:after {
  box-sizing: border-box
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: rgba(0, 0, 0, 0.5);
  background-color: rgb(239, 240, 244)
}

/* ---------------------- */

/*        Header          */

/* ---------------------- */

.header-cont {
  background-image: url('/assets/imgs/skyline.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.header-div {
  min-height: 300px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.header-div .top {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}

.header-div .top .brand {
  color: rgb(36, 129, 202);
  font-size: 24px;
  line-height: 40px;
}

.nav ul {
  margin: 0;
  list-style-type: none;
}

.nav ul li {
  display: inline-block;
}

.nav ul li.icon {
  width: 40px;
}

.nav ul li.icon a {
  margin: 0;
}

.nav ul li.icon a i {
  top: 12px;
  left: 0;
  font-size: 18px;
  color: rgb(36, 129, 202);
}

.nav ul li a {
  display: block;
  color: #fff;
  font-size: 12px;
  padding: 12px 20px;
  /* margin: 0 20px; */
  text-decoration: none;
  position: relative;
}

.header-div .search-block {
  max-width: 800px;
  margin: 0 auto;
}

.header-div .search-block .forms {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  min-height: 250px;
  margin-top: 50px;
}

.header-div .search-block .forms .keyword {
  flex: 5;
  flex-basis: 350px;
}

.header-div .search-block .forms .city {
  flex: 2;
  flex-basis: 150px;
}

.header-div .search-block .forms .city select {
  border-radius: 0px !important;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

.header-div .search-block .forms .submit {
  flex-basis: 100px;
}

/* ---------------------- */

/*      Section 2         */

/* ---------------------- */

.section-2 {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  min-height: 150px;
}

.company-details {
  width: 100%;
  position: absolute;
  top: -100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #fff;
  border: thin solid #eee;
  box-shadow: 0 1px 2px 0 rgb(239, 240, 244);
  padding: 20px;
}

.company-details .company-logo {
  flex-basis: 180px;
  height: 180px;
  border-radius: 100%;
  border: thin solid rgb(239, 240, 244);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: 0 1px 2px 0 rgb(239, 240, 244);
  margin-right: 20px;
}

.company-details .company-logo img {
  max-width: 100%;
}

.company-details .desc {
  flex-basis: 750px;
  padding: 20px;
  flex: 3;
}

.company-details .desc .company-info {
  margin-bottom: 30px;
}

.company-details .desc .company-info h2 {
  font-size: 26px;
  font-weight: 300;
}

.company-details .desc .company-info h2 sup {
  font-size: 16px;
  color: green;
  vertical-align: super;
}

.company-details .desc .company-info p {
  font-size: 13px;
  color: rgb(78, 151, 211);
  margin: 15px 0;
  font-weight: 700;
}

.company-details .desc .other-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* min-height: 100px; */
  align-items: baseline;
}

.company-details .desc .other-info .stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* align-items: baseline; */
  align-self: flex-end;
  margin-bottom: 5px;
  margin-right: 10px;
}

.company-details .desc .other-info .stats>div {
  padding: 10px 35px 5px 10px;
  border-bottom: thin solid rgb(218, 219, 221);
  flex: 1;
}

.company-details .desc .other-info .stats>div:nth-of-type(2) {
  border-left: thin solid rgb(218, 219, 221);
  border-right: thin solid rgb(218, 219, 221);
  padding: 10px 35px 5px 35px;
}

.company-details .desc .other-info .stats>div:nth-of-type(3) {
  padding: 10px 10px 5px 35px;
}

.company-details .desc .other-info .stats>div>h5 {
  margin-bottom: 10px;
  font-size: 22px;
  color: rgb(100, 101, 103);
}

.company-details .desc .other-info .stats>div>p {
  margin-bottom: 10px;
  font-size: 12px;
  color: rgb(78, 151, 211);
}

.company-details .desc .other-info .contact {
  /* min-height: 150px; */
  align-self: flex-end;
  flex-basis: 300px;
}

.company-details .desc .other-info .contact>div {
  margin-bottom: 10px;
}

.company-details .desc .other-info .contact p i {
  display: block;
  width: 5%;
  float: left;
  color: rgb(78, 151, 211);
  font-size: 13px;
}

.company-details .desc .other-info .contact p span {
  display: block;
  width: 95%;
  float: left;
  font-size: 13px;
  color: rgb(184, 184, 184);
  letter-spacing: 1px;
}

/* ---------------------- */

/*      Section 3         */

/* ---------------------- */

.dash-cont {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 20px;
}

.dash-cont .dash-div {
  display: flex;
  flex-wrap: wrap;
  min-height: 300px;
}

.dash-cont .dash-div .left {
  flex-basis: 230px;
  margin-right: 30px;
}

.dash-cont .dash-div .left ul {
  display: block;
  margin: 0;
  margin-bottom: 30px;
}

.listings .listing {
  display: block;
  margin: 0;
  margin-bottom: 30px;
  background-color: #fff;
  position: relative;
}

.listings .listing .tag {
  position: absolute;
  top: 10px;
  left: 10px;
  display: block;
  text-transform: uppercase;
  font-size: 11px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 5px;
  color: #fff;
  border-radius: 3px;
}

.tag.new {
  background-color: rgb(236, 22, 57);
}

.tag.featured {
  background-color: rgb(249, 145, 52);
}

.tag.popular {
  background-color: rgb(28, 168, 249);
}

.tag.sponsored {
  background-color: rgb(27, 149, 73);
}

.listings .listing img {
  max-width: 100%;
}

.listings .listing .content {
  padding: 25px 10px;
}

/* 
.dash-cont .dash-div .left .listings .listing .content {
  padding: 10px;
} */

.listings .listing .content h5 {
  font-size: 13px;
  color: rgb(78, 151, 211);
  border-bottom: thin solid rgb(226, 228, 232);
  padding: 5px 0;
}

.listings .listing .content p {
  color: rgb(136, 136, 136);
  font-size: 14px;
  margin: 10px 0;
}

.listings .listing .content span {
  font-size: 14px;
  color: rgb(78, 151, 211);
}

.dash-cont .dash-div .left ul li {
  list-style: none;
  display: block;
}

.dash-cont .dash-div .left ul li a {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 7px 15px;
  text-decoration: none;
  background-color: #fff;
  color: rgb(78, 151, 211);
  border: .5px solid rgb(239, 240, 244);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
}

.dash-cont .dash-div .left ul li.active a {
  background-color: rgb(78, 151, 211);
  color: #fff;
}

.dash-cont .dash-div .left ul li.active a i {
  color: #fff;
}

.dash-cont .dash-div .left ul li a i {
  margin-right: 15px;
  font-size: 18px;
  color: rgb(193, 191, 192);
}

.dash-cont .dash-div .right {
  flex: 1;
  flex-basis: 300px;
  /* padding: 10px; */
  /* background-color: #fff; */
  border: thin solid rgb(239, 240, 244);
  box-shadow: 0 1px 2px 0 rgb(239, 240, 244);
}

.dash-cont .dash-div .right .post {
  min-height: 100px;
  display: flex;
  flex-wrap: wrap;
  padding: 30px 15px 20px 15px;
  background-color: #fff;
  border-bottom: thin solid rgb(239, 240, 244);
}

.dash-cont .dash-div .right .post .image {
  flex-basis: 70px;
  margin-right: 20px;
}

.dash-cont .dash-div .right .post .image img {
  max-width: 100%;
  height: 70px;
  border-radius: 100%;
  border: thin solid rgb(239, 240, 244);
  box-shadow: 0 1px 2px 0 rgb(239, 240, 244);
}

.dash-cont .dash-div .right .post .post-content {
  flex: 1;
  flex-basis: 300px;
}

.dash-cont .dash-div .right .post .post-content .title {
  display: flex;
  margin-bottom: 10px;
}

.dash-cont .dash-div .right .post .post-content .title .title-left {
  color: rgb(93, 97, 100);
  font-weight: bold;
  padding-right: 10px;
  border-right: 2px solid rgb(189, 189, 191);
  margin-right: 10px
}

.dash-cont .dash-div .right .post .post-content .title .title-right {
  color: rgb(82, 156, 213);
  font-style: italic;
  word-spacing: 1px;
  font-weight: 200;
}

.dash-cont .dash-div .right .post .post-content .main {
  margin-bottom: 20px;
  color: rgba(114, 118, 121, 0.7);
  font-size: 15px;
  line-height: 20px;
}

.dash-cont .dash-div .right .post .post-content .main img {
  max-width: 330px;
  margin-top: 20px;
}

.dash-cont .dash-div .right .post .post-content .action i {
  color: rgb(78, 151, 211);
  width: 50px;
  font-size: 18px;
  cursor: pointer;
}

/* ---------------------- */

/*        Helpers         */

/* ---------------------- */

/* Buttons */

button {
  -webkit-appearance: none;
  border: none;
  outline: none;
  display: inline-block;
  height: 38px;
  text-align: center;
  font-size: 11px;
  line-height: 38px;
  letter-spacing: .1rem;
  text-decoration: none;
  white-space: nowrap;
  background-color: rgb(149, 149, 149);
  border-radius: 2px;
  cursor: pointer;
  box-sizing: border-box;
}

button.flat,
button.raised {
  padding: 0 25px;
}

button.flat {
  font-weight: 600;
  text-transform: uppercase;
}

button.raised {
  color: white;
}

button.raised::first-letter {
  text-transform: capitalize;
}

button.icon {
  padding-top: 3px;
  margin-left: 1.5em;
}

button.block {
  margin: 1em 0;
}

/* Input */

input {
  border: none;
  height: 38px;
}

select {
  border-radius: 0;
  height: 45px;
}

input,
select {
  -webkit-appearance: none;
  outline: none;
  padding: 6px 10px;
  background-color: #fff;
  box-shadow: none;
  box-sizing: border-box;
  font-size: 1em;
  color: var(--grey);
}

/* Flex layout */

.flex-row {
  display: flex;
  flex: 0 1 auto;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.width-1 {
  max-width: 1100px;
  margin: 0 auto;
}

.active a {
  background-color: rgb(36, 129, 202);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.h60 {
  height: 60px;
}

.flex-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  height: 2px;
  width: 70px;
  margin: 20px auto;
  background-color: rgb(42, 187, 155);
}

.divider {
  height: 1px;
  background-color: #ccc;
}

.clear {
  clear: both;
}

.bold {
  font-weight: 900;
  color: rgba(0, 0, 0, 0.7)
}

.btn-1 {
  text-align: center;
  padding: 10px 20px;
  width: 120px;
  background-color: rgba(0, 51, 204, 0.7);
  color: #fff;
  text-transform: uppercase;
  border: none;
}

.form-field {
  position: relative;
}

.form-field input,
.form-field select {
  width: 100%;
  height: 40px;
  padding: 10px 30px;
  border: none;
  border: 1px solid #ccc;
  /* color: #ccc; */
  font-size: 12px;
}

.form-field i {
  position: absolute;
  color: rgb(42, 187, 155);
  top: 15px;
  left: 10px;
  font-size: 12px;
}

.btn {
  width: 100%;
  border: none;
  border-radius: none;
  background-color: rgb(42, 187, 155);
  height: 40px;
  color: #fff;
  padding: 5px;
  cursor: pointer;
  border: thin solid rgb(42, 187, 155);
}

/* Footer */

footer {
  padding: 0.5em 1.2em 1em;
}

footer nav ul {
  flex-wrap: wrap;
}

footer nav ul li {
  flex: 0 0 auto;
  flex-basis: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 0.6em;
}

footer nav ul li a {
  color: #a9a9a9;
  padding: 0.5em;
  line-height: 2em;
}

footer .newsletter span {
  color: var(--grey);
  font-size: 0.7em;
  text-transform: uppercase;
  margin-right: 0.6em;
}

footer nav ul li:last-child {
  margin-right: 0;
}

footer .newsletter {
  margin-bottom: 1.5em;
}

footer .newsletter form {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

footer .newsletter input {
  background-color: rgb(238, 234, 235);
}

footer .newsletter button {
  margin-top: 1.2em;
  border-radius: 0px;
}

footer .copyright {
  color: var(--grey);
  font-size: 0.7em;
  opacity: 0.5;
}

@media screen and (max-width: 947px) {
  .dash-cont {
    margin-top: 100px;
  }
}

@media screen and (min-width: 768px) {
  footer nav ul {
    flex-wrap: nowrap;
  }
  footer nav ul li {
    flex-basis: 35%;
  }
  article .brands-wrapper {
    width: 80%;
    margin: 0 auto;
  }
  article .brands {
    flex-wrap: wrap;
  }
  article.local {
    background: rgb(238, 239, 241);
    padding: 3em 0em 1.5em;
  }
  article.local .brands {
    margin-bottom: 1.5em;
  }
  article.local .brand-wrapper {
    flex: 0 0 auto;
    flex-basis: 50%;
    padding: 0.5em 0.6em;
  }
  .video-wrapper {
    height: 20em;
  }
  .register form {
    width: 70%;
  }
  footer .newsletter form {
    flex-direction: row;
    flex: 0 1 auto;
  }
  footer .newsletter form input {
    width: 250px;
  }
  footer .newsletter button {
    margin-top: 0;
  }
  .modal-wrapper {
    padding-top: 6em;
  }
  .modal-content>div {
    width: 35%;
  }
}

@media screen and (max-width: 701px) {
  .dash-cont .dash-div .left {
    flex: 1;
    margin: 30px;
  }
}

@media screen and (max-width: 648px) {
  .dash-cont .dash-div .left {
    flex: 1;
    margin-top: 80px;
  }
}

@media screen and (max-width: 533px) {
  .dash-cont .dash-div .left {
    flex: 1;
    margin-top: 150px;
  }
}

@media screen and (max-width: 425px) {
  .dash-cont .dash-div .left {
    flex: 1;
    margin-top: 300px;
  }
}