*,
*:before,
*:after {
  box-sizing: border-box
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

/* ---------------------- */

/*         Header         */

/* ---------------------- */

/* ------ Container ------*/

.header-cont {
  min-height: 600px;
  background: linear-gradient(rgba(9, 65, 144, 0.9), rgba(9, 65, 144, 0.9)), url('../imgs/map.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}

.header-cont .header {
  height: 60px;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
}

.brand,
.nav {
  padding: 3px 20px;
  font-family: 'Roboto', sans-serif;
}

.brand a {
  text-decoration: none;
  color: white;
}

/* ------ Navigation ------*/

.nav ul {
  margin: 0;
  list-style-type: none;
}

.nav ul li {
  display: inline-block;
}

.nav ul li a {
  display: block;
  color: #fff;
  font-size: 12px;
  padding: 12px 20px;
  margin: 0 20px;
  text-decoration: none;
  position: relative;
}

.nav ul li a i {
  position: absolute;
  /* margin-top: -10px; */
  top: 10px;
  right: 5px;
}

.nav ul li>ul {
  display: none;
}

.nav ul li:hover>ul {
  display: block;
}

.nav ul li ul {
  position: absolute;
  width: 150px;
  background-color: rgba(28, 89, 174, 0.9);
  padding: 5px;
  margin-left: 20px;
}

.nav ul li>ul li {
  display: block;
}

.nav ul li>ul li a {
  padding: 5px;
  margin: 0;
  background-color: transparent;
}

/* Banner */

.banner {
  min-height: 540px;
  text-align: center;
}

.banner h2 {
  font-size: 3em;
  padding: 10px;
  margin: 0px;
}

.banner h5 {
  padding: 10px;
  margin: 0;
  color: rgb(42, 187, 155);
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.banner .search {
  display: flex;
}

/* ---------------------- */

/*        Helpers         */

/* ---------------------- */

.width-1 {
  max-width: 1100px;
  margin: 0 auto;
}

.active a {
  background-color: rgb(42, 187, 155);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.h60 {
  height: 60px;
}

.flex-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}